Sub マクロ名()
    Dim commandPath As String
    Dim outputPath As String
    
    ' フォルダの作成
    commandPath = "D:\テーブル作成コマンドフォルダ\"

    ' FileSystemObjectを使用してフォルダを作成
    Set fso = CreateObject("Scripting.FileSystemObject")
    If Not fso.FolderExists(commandPath) Then
        fso.CreateFolder commandPath
    End If
    
    ' テキストファイルの作成
    outputPath = commandPath & "01_テーブル確認.txt"
    Open outputPath For Append As #1
    Close #1
    
    outputPath = commandPath & "02_ロール割当の確認.txt"
    Open outputPath For Append As #1
    Close #1
    
    outputPath = commandPath & "03_ロードジョブ定義登録.txt"
    Open outputPath For Append As #1
    Close #1
    
    outputPath = commandPath & "04_HULFT定義登録.txt"
    Open outputPath For Append As #1
    Close #1
    
    outputPath = commandPath & "05_GRANT分の作成.txt"
    Open outputPath For Append As #1
    Close #1
    
    ' 条件による処理
    If Sheets("貼り付け").Range("M10").Value = "新規" And Sheets("貼り付け").Range("M11").Value = "テーブル" And Sheets("貼り付け").Range("M15").Value = "営業統計オンライン利用あり" Then
        ' 処理1
        outputPath = commandPath & "01_テーブル確認.txt"
        Open outputPath For Append As #1
        For Each cell In Sheets("テーブル作業コマンドシート").Range("J7:J8")
            Write #1, cell.Value
        Next cell
        Close #1
        
        ' 処理2
        outputPath = commandPath & "02_ロール割当の確認.txt"
        Open outputPath For Append As #1
        For Each cell In Sheets("テーブル作業コマンドシート").Range("J12:J24")
            Write #1, cell.Value
        Next cell
        Close #1
        
        ' 処理3
        outputPath = commandPath & "03_ロードジョブ定義登録.txt"
        Open outputPath For Append As #1
        For Each cell In Sheets("テーブル作業コマンドシート").Range("J29:J30")
            Write #1, cell.Value
        Next cell
        Close #1
        
        ' 処理4
        outputPath = commandPath & "04_HULFT定義登録.txt"
        Open outputPath For Append As #1
        For Each cell In Sheets("テーブル作業コマンドシート").Range("J36:J40")
            Write #1, cell.Value
        Next cell
        Close #1
    ElseIf Sheets("貼り付け").Range("M10").Value = "変更" And Sheets("貼り付け").Range("M11").Value = "テーブル" And Sheets("貼り付け").Range("M15").Value = "営業統計オンライン利用なし" And Sheets("貼り付け").Range("M24").Value = "全件ロード方式" Then
        ' 処理1
        outputPath = commandPath & "01_テーブル確認.txt"
        Open outputPath For Append As #1
        For Each cell In Sheets("テーブル作業コマンドシート").Range("V7:V8")
            Write #1, cell.Value
        Next cell
        Close #1
        
        ' 処理2
        outputPath = commandPath & "02_ロール割当の確認.txt"
        Open outputPath For Append As #1
        For Each cell In Sheets("テーブル作業コマンドシート").Range("V12:V24")
            Write #1, cell.Value
        Next cell
        Close #1
        
        ' 処理3
        outputPath = commandPath & "05_GRANT分の作成.txt"
        Open outputPath For Append As #1
        For Each cell In Sheets("テーブル作業コマンドシート").Range("V28:V40")
            Write #1, cell.Value
        Next cell
        Close #1
    End If
End Sub



    ' フォルダの作成
    commandPath = "D:\テーブル作成コマンドフォルダ\"

    ' FileSystemObjectを使用してフォルダが存在しない場合にのみ作成
    Set fso = CreateObject("Scripting.FileSystemObject")
    If Not fso.FolderExists(commandPath) Then
        fso.CreateFolder commandPath
        
        ' テキストファイルの作成
        outputPath = commandPath & "01_テーブル確認.txt"
        If Not fso.FileExists(outputPath) Then
            Open outputPath For Append As #1
            Close #1
        End If
        
        outputPath = commandPath & "02_ロール割当の確認.txt"
        If Not fso.FileExists(outputPath) Then
            Open outputPath For Append As #1
            Close #1
        End If
        
        outputPath = commandPath & "03_ロードジョブ定義登録.txt"
        If Not fso.FileExists(outputPath) Then
            Open outputPath For Append As #1
            Close #1
        End If
        
        outputPath = commandPath & "04_HULFT定義登録.txt"
        If Not fso.FileExists(outputPath) Then
            Open outputPath For Append As #1
            Close #1
        End If
        
        outputPath = commandPath & "05_GRANT分の作成.txt"
        If Not fso.FileExists(outputPath) Then
            Open outputPath For Append As #1
            Close #1
        End If
    End If
